@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 105, 70);
    text-align: center;
    color: white;
    font-family: "Play";
}

#title {
    color: gold;
}

h1 {
    font-family: "Montserrat Subrayada";
    font-size: 35px;
    border: 5px double white;
    border-radius: 25px;
    padding: 10px;
    background-color: black;
    color: white;
}

#deal {
    background-color: red;
    font-weight: bold;
    width: 70px;
    height: 25px;
    cursor: pointer;
}

#hit {
    background-color: yellow;
    font-weight: bold;
    width: 70px;
    height: 25px;
    cursor: pointer;
}



